body {
  background-color: white;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  margin: 0;
  min-height: 100vh;
}

.board {
  width: 900px;
  --s: 100px;  /* size of hexes  */
  --m: 2px;    /* margin between hexes */
  --f: calc(1.732 * var(--s) + 4 * var(--m)  - 1px);
  display: grid;
  grid-template-columns: repeat(auto-fit, calc(var(--s) + 2*var(--mh)));
  justify-content: center;
}

.map {
  font-size: 0; /*disable white space between inline block element */
  grid-column: 1/-1;
}

.map div {
  width: var(--s);
  margin: var(--m);
  height: calc(var(--s)*1.1547); 
  display: inline-block;
  font-size:initial;
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
  margin-bottom: calc(var(--m) - var(--s)*0.2885);
}

.map::before {
  content: "";
  width: calc(var(--s)/2 + var(--m));
  float: left;
  height: 120%;
  /* move every other row to right */
  shape-outside: repeating-linear-gradient(     
                   #0000 0 calc(var(--f) - 3px),      
                   #000  0 var(--f));
}

/* Hex colors based on who owns them*/
.neutral {
  background-color: yellowgreen;
}

.red {
  background-color: red;
}

.black {
  background-color: black;
}

.hex:hover {
  background-color: lightgray;
}

.hex:hover ~ .empty {
  background-color: white;
}
