.game {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    min-height: 100vh;
    overflow: auto;
}

.base-menu {
    width: 400px;
}

.focus-menu {
    width: 400px;
    background-color: #EDEEC0;
}

.badge-red {
    background-color: lightcoral;
}

.badge-neutral {
    background-color: lightgreen;
}

.badge-blue {
    background-color: lightblue;
}

.center-panel {
    display: flex;
    flex-direction: column;
    /*background-color: #EDEEC0;*/
}

table,
th,
td {
    background-color: #EDEEC0;
    border: 5px solid #F4A698;
    height: 45px;
    text-align: center;
}


.board {
    width: 900px;
    --s: 100px;
    /* size of hexes  */
    --m: 2px;
    /* margin between hexes */
    --f: calc(1.732 * var(--s) + 4 * var(--m) - 1px);
    display: grid;
    grid-template-columns: repeat(auto-fit, calc(var(--s) + 2*var(--mh)));
    justify-content: center;
}

.map {
    font-size: 0;
    /*disable white space between inline block element */
    grid-column: 1/-1;
}

.map div {
    width: var(--s);
    margin: var(--m);
    height: calc(var(--s)*1.1547);
    display: inline-block;
    vertical-align: top;
    font-size: initial;
    clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
    margin-bottom: calc(var(--m) - var(--s)*0.2885);
    text-align: center;
}

.map::before {
    content: "";
    width: calc(var(--s)/2 + var(--m));
    float: left;
    height: 120%;
    /* move every other row to right */
    shape-outside: repeating-linear-gradient(#0000 0 calc(var(--f) - 3px),
            #000 0 var(--f));
}


/* Hex colors based on who owns them*/
.neutral {
    background-color: #AAAE7F;
}

.red {
    background-color: #942911;
}

.blue {
    background-color: #114B5F;
}

.hex:hover {
    background-color: lightgray;
}

.hex:hover~.empty {
    background-color: white;
}

.home {
    background-image: url('images/smaller_castle.png');
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.hidden {
    display: none;
}

.action-card {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    margin-bottom: 5%;
}

.action-texts {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.action-button, .unselect {
    width: 25%;
    height: 90%;
    letter-spacing: 2px;
    text-decoration: none;
    background-color: #F4A698;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}